* {
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	max-width: 1400px;
	min-width: 375px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
	color: #222222;
}

/* ########################## INICIO HEADER ########################## */
.header-section {
	position: sticky;
	top: 0;
	z-index: 10;
}

.header-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
	background-color: #f7f7f7;
}

.site-nav {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.site-nav > a {
	color: inherit;
	text-decoration: none;
}

.site-nav > a:hover {
	text-decoration: underline;
	font-weight: bold;
}

.logo-container {
	width: 50%;
}

.logo-container__site-logo {
	height: 60px;
}

.banner {
	width: 100%;
	background-image: url("/FreeCanchas/src/assets/images/banner2.jpg");
	height: 400px;
	max-width: 1350px;
	margin-bottom: 100px;
}

.letra {
	font-size: 4rem;
	font-weight: bold;
	padding-top: 5%;
	padding-left: 8%;
	color: rgb(255, 255, 255);
	-webkit-text-stroke: 3px rgb(0, 0, 0);
}

/* ########################## FIN HEADER ########################## */

.services-section,
.seccion-noticias,
.seccion-equipo {
	display: flex;
	margin-bottom: 100px;
}

/* ########################## INICIO SERVICIOS ########################## */
.services-section {
	justify-content: space-between;
}

.services-info {
	padding: 20px;
	text-align: center;
	width: 400px;
}

.services-info__imagen {
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
}

.services-info__text {
	text-align: left;
}

/* ########################## FIN SERVICIOS ########################## */

/* ########################## INICIO NOTICIAS ########################## */
.seccion-noticias {
	flex-wrap: wrap;
	background-color: #f7f7f7;
}

.news-info {
	width: 50%;
	padding: 20px;
}

.news-header {
	display: flex;
	justify-content: space-around;
}

.news-info__title {
	align-self: center;
	padding-left: 10px;
}

.news-info__imagen {
	height: 150px;
}
/* ########################## FIN NOTICIAS ########################## */

/* ########################## INICIO FOOTER ########################## */
.seccion-pie {
	background-color: #25294f;
	height: 200px;
	display: flex;
	color: white;
	justify-content: space-evenly;
}

.team-info {
	width: 25%;
	padding: 15px;
}

.team-info__imagen {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 250px;
	height: 250px;
}
.facebook_icon{
	width: 10vh;
	height: 10vh;
}
.twitter_icon{
	width: 10vh;
	height: 10vh;
}
.instagram_icon{
	width: 10vh;
	height: 10vh;
}
.telephone_icon{
	width: 4.5vh;
	height: 4.5vh;
	float: left;
	margin-left: 5px;
}
.email_icon{
	width: 4.5vh;
	height: 4.5vh;
	float: left;
	margin-left: 5px;
}
.ubication_icon{
	width: 5vh;
	height: 5vh;
	float: left;
	margin-left: 5px;
}
/* ########################## FIN FOOTER ########################## */
